body{
	background: pink;
	color: darkblue;
	font-size: 30px;
}



header{
	background: darkred;
}


h3{
	text-align: center;
	color:black;
	font-size: 50px;

#imagemprincipal {
	width: 800;
	height: 400;
	border: 15px solid yellow;
	padding: 20px;
	margin: 20px;
	}